requests
pandas
beautifulsoup4
python-dotenv
spacy
fastapi
uvicorn
sqlalchemy
pydantic[email]>=2.0
pydantic>=2.0
psycopg2-binary
passlib[bcrypt]
pymysql
inflect
aiohttp
asyncio
openai==0.28.0
scikit-learn
alembic
cachetools
fal-client  
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
